<div class="card">
  <div class="card-flex">  
    <div class="card-flex-img"><img src="https://images.pexels.com/photos/356378/pexels-photo-356378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-avatar"></div>
    <div class="card-flex-text">
      <div class="card-hello"><span>Hello</span></div>
      <div class="profile-header">
        <h1 class="title">
          <span style="padding-right: 10px;">I'm </span> Max
        </h1>
        <h2 class="subtitle">
          Best friend
        </h2>
      </div> 
      <ul class="card-list">
        <li class="card-data">
          <strong class="title">Age</strong>
          <span class="data">4</span>
        </li>
        <li class="card-data">
          <strong class="title">Adress</strong>
          <span class="data">23232, Belgium, Brussels, Liutte 27, BE</span>
        </li>
        <li class="card-data">
          <strong class="title">E-mail</strong>
          <span class="data">dog@company.com</span>
        </li>
        <li class="card-data">
          <strong class="title">Phone</strong>
          <span class="data">+1 256 254 84 56</span>
        </li>
        <li class="card-data">
          <strong class="title">Freelance</strong>
          <span class="data">till March 25, 2018</span>
        </li>
        <li>
          <strong class="card-data">
            <span class="vacation-button">Vacation</span>
            <span class="data">
              till April 15, 2018
            </span>
          </strong>
        </li>
      </ul> 
    </div> 
  </div>

  <!--Social Bar-->
  <div class="social-bar">
      <ul class="social-bar-items">
        <li>
          <a href="https://twitter.com" target="_blank" class="social-bar-link">
            <i class="social-bar-icons fa fa-twitter"></i> 
          </a>
        </li>
        <li class="social-bar-items-space">
            <a href="https://www.facebook.com" target="_blank" class="social-bar-link">
              <i class="social-bar-icons fa fa-facebook"></i> 
            </a>
        </li>
        <li class="social-bar-items-space">
            <a href="https://dribbble.com" target="_blank" class="social-bar-link">
              <i class="social-bar-icons fa fa-dribbble"></i> 
            </a>
        </li>
        <li class="social-bar-items-space">
            <a href="https://www.linkedin.com" target="_blank" class="social-bar-link">
              <i class="social-bar-icons fa fa-linkedin"></i> 
            </a>
        </li>
        <li class="social-bar-items-space">
            <a href="https://instagram.com" target="_blank" class="social-bar-link">
              <i class="social-bar-icons fa fa-instagram"></i> 
            </a>
        </li>
        <li class="social-bar-items-space">
            <a href="https://www.google.com" target="_blank" class="social-bar-link">
              <i class="social-bar-icons fa fa-google"></i> 
            </a>
        </li>
      </ul>
    </div>
</div>