<div class="card">
  <div class="card-flex">
    <div class="firstcolumn"><img src="https://images.pexels.com/photos/356378/pexels-photo-356378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        class="card-avatar"></div>
    <!-- <div class="card-flex-img"><img src="src/images/dog.png" class="card-avatar"></div> -->
    <div class="secondcolumn about-info">
      <span class="hello-balloon">Hello</span>
      <div class="header about-header">
        <h1 class="title">
          <span class="prefix">I'm </span> Max
        </h1>
        <h2 class="subtitle">
          Best friend
        </h2>
      </div>
      <ul class="list card-list">
        <li class="item card-fields">
          <div class="title"><span class="label">Age</span></div>
          <span class="data">4</span>
        </li>
        <li class="item card-fields">
          <div class="title"><span class="label">Adress</span></div>
          <span class="data">23232, Belgium, Brussels, Liutte 27, BE</span>
        </li>
        <li class="item card-fields">
          <div class="title"><span class="label">E-mail</span></div>
          <span class="data">dog@company.com</span>
        </li>
        <li class="item card-fields">
          <div class="title"><span class="label">Phone</span></div>
          <span class="data">+1 256 254 84 56</span>
        </li>
        <li class="item card-fields">
          <div class="title"><span class="label">Freelance</span></div>
          <span class="data">till March 25, 2018</span>
        </li>
        <li class="item card-fields">
          <div class="title"><span class="label -highlight">Vacation</span></div>
          <span class="data">
            till April 15, 2018
          </span>
        </li>
      </ul>
    </div>
  </div>

  <!--Social Bar-->
  <div class="social-bar-style">
    <ul class="items social-bar-items">
      <li class="space social-bar-link">
        <a href="https://twitter.com" target="_blank" class="link social-bar-icons">
          <i class="icon fa fa-twitter"></i>
        </a>
      </li>
      <li class="space social-bar-link">
        <a href="https://www.facebook.com" target="_blank" class="link social-bar-icons">
          <i class="icon fa fa-facebook"></i>
        </a>
      </li>
      <li class="space social-bar-link">
        <a href="https://dribbble.com" target="_blank" class="link social-bar-icons">
          <i class="icon fa fa-dribbble"></i>
        </a>
      </li>
      <li class="space social-bar-link">
        <a href="https://www.linkedin.com" target="_blank" class="link social-bar-icons">
          <i class="icon fa fa-linkedin"></i>
        </a>
      </li>
      <li class="space social-bar-link">
        <a href="https://instagram.com" target="_blank" class="link social-bar-icons">
          <i class="icon fa fa-instagram"></i>
        </a>
      </li>
      <li class="space social-bar-link">
        <a href="https://www.google.com" target="_blank" class="link social-bar-icons">
          <i class="icon fa fa-google"></i>
        </a>
      </li>
    </ul>
  </div>
</div>