<div class="contact-form">
  <h2 class="title">Contact Us</h2>

  <div class="contact-columns">
    <div class="card firstcolumn contact-fields">
      <h3 class="title">Feel free to contact me</h3>
      <form class="form contact-form">
        <div class="fields">
          <input type="text" class="input">
          <span></span>
          <label>Name</label>
        </div>
        <div class="fields">
          <input type="text" class="input">
          <span></span>
          <label>Email</label>
        </div>
        <div class="fields">
          <input type="text" class="input">
          <span></span>
          <label>Subject</label>
        </div>
        <div class="fields">
          <textarea type="text" class="input"></textarea>
          <span></span>
          <label>Message</label>
        </div>
      </form>
    </div>
    <div class="card secondcolumn"></div>
  </div>
</div>
