<div class="contact">
  <h2 class="title">Contact Us</h2>

  <div class="contact-columns">
    <div class="card firstcolumn contact-fields">
      <h3 class="title">Feel free to contact me</h3>
      <form class="form contact-form">
        <div class="margin form-group">
          <input type="text" id="name" class="input" required>
          <label class="label" for="name">Name</label>
        </div>
        <div class="margin form-group">
          <input type="text" id="email" class="input" required>
          <label class="label" for="email">Email</label>
        </div>
        <div class="margin form-group">
          <input type="text" id="subject" class="input" required>
          <label class="label" for="subject">Subject</label>
        </div>
        <div class="margin form-group">
          <textarea type="text" id="message" class="input" required></textarea>
          <label class="label" for="message">Message</label>
        </div>
        <div class="margin form-group">
          <input type="checkbox">
          <span>I have read the Privacy Policy note.</span>
        </div>
        <button type="submit" class="button">Send</button>
      </form>
    </div>

    <div class="card secondcolumn">
      <ul class="contact-infos">
        <li *ngFor="let element of array" class="list contact-list">
          <span class="label">{{element.name}}</span>
          <span class="text">{{element.value}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="button-wordpress">
    <button class="button">Buy Wordpress Version</button>
  </div>
</div>