<div class="professional-skills">
  <h2 class="title">Professional Skills</h2>
  <div class="card">
    <div class="professional-skills-flex">
      <div class="items">
        <span>HTML</span>
        <span class="progress-bar"></span>
      </div>
      <div class="items">
        <span>CSS</span>
        <span class="progress-bar"></span>
      </div>

      <div class="items">
        <span>Typescript</span>
        <span class="progress-bar"></span>
      </div>
      <div class="items">
        <span>SQL</span>
        <span class="progress-bar"></span>
      </div>

      <div class="items">
        <span>C#</span>
        <span class="progress-bar"></span>
      </div>
      <div class="items">
        <span>Angular</span>
        <span class="progress-bar"></span>
      </div>
    </div>
  </div>
</div>
