
<nav class="page-navbar">
  <a class="page-navbar-logo logomargin" routerLink="about"><span class="firstcolumn">RS</span>card</a>
  <ul class="items">
    <li class="item navbar-list"><a class="link" routerLink="about">About</a></li>
    <li class="item navbar-list"><a class="link" routerLink="skills">Skills</a></li>
    <li class="item navbar-list"><a class="link" routerLink="contact">Contact</a></li>
    <li class="item navbar-list"><a class="link" routerLink="portfolio">Portfolio</a></li>
    <li class="item navbar-list"><a class="link" routerLink="experience">Experience</a></li>
    <li class="item navbar-list"><a class="link" routerLink="pricing">Pricing</a></li>
    <li class="item navbar-list"><a class="link" routerLink="blog">Blog</a></li>
    <li class="item navbar-list"><a class="link" routerLink="calendar">Calendar</a></li>
    <li class="item navbar-list -highlight"><a class="link" href="#other">Other</a></li>
  </ul>
</nav>