<div class="page-navbar inner">
  <div>
    <nav>
      <ul class="page-navbar logo logo1">
        <a><span class="page-navbar logo2">RS</span>card</a>
      </ul>
      <ul class="page-navbar items">
        <li class="navbar-list"><a href="#about">About</a></li>
        <li class="navbar-list"><a href="#skills">Skills</a></li>
        <li class="navbar-list"><a href="#portfolio">Portfolio</a></li>
        <li class="navbar-list"><a href="#experience">Experience</a></li>
        <li class="navbar-list"><a href="#pricing">Pricing</a></li>
        <li class="navbar-list"><a href="#blog">Blog</a></li>
        <li class="navbar-list"><a href="#calendar">Calendar</a></li>
        <li class="navbar-list"><a href="#contact">Contact</a></li>
        <li class="navbar-list"><a href="#other">Other</a></li>
      </ul>
    </nav>
  </div>
</div>