
<nav class="page-navbar">
  <a class="page-navbar-logo"><span class="firstcolumn">RS</span>card</a>
  <ul class="items-position items">
    <li class="navbar-list"><a class="link" href="#about">About</a></li>
    <li class="navbar-list"><a class="link" href="#skills">Skills</a></li>
    <li class="navbar-list"><a class="link" href="#portfolio">Portfolio</a></li>
    <li class="navbar-list"><a class="link" href="#experience">Experience</a></li>
    <li class="navbar-list"><a class="link" href="#pricing">Pricing</a></li>
    <li class="navbar-list"><a class="link" href="#blog">Blog</a></li>
    <li class="navbar-list"><a class="link" href="#calendar">Calendar</a></li>
    <li class="navbar-list"><a class="link" href="#contact">Contact</a></li>
    <li class="navbar-list"><a class="link" href="#other">Other</a></li>
  </ul>
</nav>