$gray: #3d4451;
$silver-gray: #9da0a7;
$black: black;
$ice: #dedede;
$shadow: rgba(0,0,0,0.2);
$red: #e8676b;
$white: #fff;
$transparent: transparent; 
$navbar-white: rgba(255, 255, 255, 0.7);
$dark-gray: rgba(44, 51, 64, 0.8);
$gray-logo: #9a9da2;
$background: #c4c4c4;
$red-white: rgba(232,103,107,0.2);