<ul class="social-bar-style social-bar-items">
    <li class="space -highlight social-bar-link">
      <a href="https://twitter.com" target="_blank" class="link social-bar-icons">
        <i class="icon fa fa-twitter"></i>
      </a>
    </li>
    <li class="space social-bar-link">
      <a href="https://www.facebook.com" target="_blank" class="link social-bar-icons">
        <i class="icon fa fa-facebook"></i>
      </a>
    </li>
    <li class="space social-bar-link">
      <a href="https://dribbble.com" target="_blank" class="link social-bar-icons">
        <i class="icon fa fa-dribbble"></i>
      </a>
    </li>
    <li class="space social-bar-link">
      <a href="https://www.linkedin.com" target="_blank" class="link social-bar-icons">
        <i class="icon fa fa-linkedin"></i>
      </a>
    </li>
    <li class="space social-bar-link">
      <a href="https://instagram.com" target="_blank" class="link social-bar-icons">
        <i class="icon fa fa-instagram"></i>
      </a>
    </li>
    <li class="space social-bar-link">
      <a href="https://www.google.com" target="_blank" class="link social-bar-icons">
        <i class="icon fa fa-google"></i>
      </a>
    </li>
  </ul>