.profile-header {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid $ice;
}

.profile-title{
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    color: #3d4451;

    & > .title-first {
       font-weight: 300; 
    }
 }

 @media only screen and (max-width: 748px){
     .profile-header{
         margin-top: 75px;
     }
 }
