.card-flex {
    display: flex; 
    flex-wrap:wrap;
    padding: 47px;

    & > .firstcolumn {
        flex: 3;
        margin-right: 50px;
    }

    & > .secondcolumn {
        flex: 6;
        
        & > .margin {
            padding-bottom: 25px;
            margin-bottom: 25px;
            margin-top: 25px;
        }
    }
}

@media only screen and (max-width: 748px){
    .card-flex {
        display: block;

        & > .firstcolumn {
            flex: auto;
            position: relative;
            justify-content: center;
            margin: 0;
        }
    }
}