.card-columns {
    padding: 47px;

    & > .firstcolumn {
        flex: auto;
        position: relative;
        justify-content: center;
        margin: 0;
    }
}

@media only screen and (min-width: 748px){
    .card-columns {
        display: flex; 
        flex-wrap:wrap;
    
        & > .firstcolumn {
            flex: 3;
            margin-right: 50px;
        }
    
        & > .secondcolumn {
            flex: 6;
        }
    }
}