.contact-list {
    display: flex;

    & > .label {
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        flex: 0 0 90px;
    }

    & > .text {
        flex: 1 1 215px;
    }
}