.contact-list {
    display: flex;

    & > .label {
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        flex: 0 0 90px;
    }

    & > .text {
        flex: 1 1 215px;
        color: $silver-gray;
        font-size: 15px;
        font-weight: 400;
    }
}