@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.page-navbar{
    background-color: $transparent;
    padding-left: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 5;
    position: fixed;


    & > .items-position {
        position: fixed;
    }

    & > .items {
        display: flex;
        list-style-type: none;
        margin: 0;
        right: 0;
        top: 7px;
    }
}

@media only screen and (max-width: 1135px){
    .page-navbar{
        & .items{
            display: none;
        }
    }
}
