.navbar-list {
    & > .link {
        display: block;
        color: $navbar-white;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        padding: 14px 25px;
        text-decoration: none;
        position: relative;
    }

    & > .link:after {
        content: '';
        width: 0px;
        height: 3px;
        display: block;
        margin-top: 12px;
        right: 0;
        background: $red;
        transition: width .2s ease-out;
        transition-property: left right;
        -webkit-transition: width .2s ease-out;
    }

    & > .link:hover:after {
        width: 100%;
        left: 0;
        background: $red;
    }
}

.navbar-list:last-child {
    margin-right: 35px;
}