.social-bar{
    background-color: $red;
    width: 100%;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    position: absolute;
    margin: auto; 
    right: 0; 
    left: 0;

    & > .social-bar-items {
        display: flex; 
        justify-content: center; 
        align-items: center;
        list-style: none;
        padding-top: 18px;
        padding-left: 0;
        flex-wrap: wrap;
    }

    & .social-bar-items-space {
        padding-left: 5%;
    }

    & .social-bar-link {
        text-decoration: none;
    }

    & .social-bar-icons{
        width: 30px;
        height: 30px;
        color: #fff;
        font-size: 20px;
        line-height: 45px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    & .social-bar-icons:hover{
        box-shadow:  0 0 0 5px rgb(176,35,39);
        border-radius: 100%;
        background-color: rgb(176,35,39);
    }
}