.social-bar-icons {

    & > .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        color: $white;
        font-size: 20px;
        line-height: 45px;
        transition: 0.5s;
    }

    & > .icon:hover{
        box-shadow:  0 0 0 5px rgb(176,35,39);
        border-radius: 100%;
        background-color: rgb(176,35,39);
    }
}