.social-bar-items {
    display: flex; 
    justify-content: center; 
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 35px 0 35px 0;
    margin: 0;

        & > .position {
            padding-left: 25px;
        }
        
        & > .position:first-child {
            padding-left: 0px;
        }        
}